// .cls-2 {
//   fill: red;
// }

@include block(c-header) {
  display: table;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: $header-background-color;
  color: $white;

  @include element(headline) {
    height: 80vh;
    width: 100%;
    text-align: center;
  }

  @include element(title) {    
    @include inuit-font-size(60px);
  }
  
  @include mq($from: mobile, $until: tablet) {
    @include element(title) {    
      @include inuit-font-size(45px);
    }
  }
}
